<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing your text</title>
</head>
<body>

    <h1>Your analyzed text -{{ purpose }}</h1>
    <p>
        {{ analyzed_text }}
    </p>
</body>
</html>